/* Profilis.css */

body {
    font-family: Arial, sans-serif;
    background-color: #45a049;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #C3E2C2;
    color: black;
}

.profile-info {
    max-width: 600px;
    margin: 20px auto;
    background-color: #E4DEBE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-info p {
    margin: 10px 0;
}

a {
    display: block;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #C3E2C2;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #5F8670;
}
